<ion-view title="Add app">
  <ion-content>
    <form class="list" ng-submit="add()">
      <label class="item item-input item-floating-label">
        <span class="input-label">App name</span>
        <input name="name" required ng-model="app.name" type="text" placeholder="App name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description</span>
        <input name="description" ng-model="app.description" type="text" placeholder="Description">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Google Play link</span>
        <input name="link" ng-model="app.link" type="text" placeholder="Google Play link">
      </label>
      <div class="padding">
        <upload-image set-image="setImage"></upload-image>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
